* {
  /* resetting rules */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(64, 19, 34);
}

html {
  scroll-behavior: smooth;
}
/* header section */
header {
  /* border: 2px solid #000; */
  background-image: url(images/lavender\ cafe.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  display: block;
  unicode-bidi: isolate;
}
header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  margin-bottom: 40px;
}
header p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 55px;
}
header a {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: rosybrown;
  color: rgb(64, 19, 34);
  padding: 15px 30px;
  border-radius: 9px;
}
body,
#our-menu p {
  background-color: lavenderblush;
}

/* nav section */
nav {
  /* border: 2px solid #000; */
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;

  /* background-color: #49281a; */
  padding: 25px 0;
}
nav a {
  background-color: rosybrown;
  color: rgb(64, 19, 34);
  text-decoration: none;
  margin-right: 20px;
  /* padding: 15px; */

  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 9px;
}

/* our-menu section */
#our-menu,
#about-us,
#contact,
footer {
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  margin: 20px 0;
}
/* about-us section */
#about-us p,
#contact p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.2em;
}

/* contact section */
form {
  width: 80%;
  margin: 10px auto;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
}
form div {
  padding: 15px 0;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px dotted rosybrown;
}
.btn-submit {
  background-color: rgb(214, 150, 150);
  color: rgb(64, 19, 34);
  width: 200px;
  height: 50px;
  margin-left: 160px;
  border: none;
  outline: none;
  border-radius: 9px;
}
/* footer section */
footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 10px 0;
}

footer a {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.card {
  border: 2px solid rgb(93, 33, 53);
  width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 9px;
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px;
}
.card-body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text {
  line-height: 1.5;
}
.btn-order {
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(206, 137, 137);
  text-decoration: none;
  color: whitesmoke;
  border-radius: 9px;
}
.card-container {
  display: flex;
  justify-content: center;
}
